<template>
    <article class="media">
        <figure class="media-left">
            <router-link
                v-if="comment.author.avatar"
                class="image is-48x48 is-square"
                :to="{ name: 'user-page', params: { id: comment.author.id } }"
            >
                <img class="is-rounded fit" :src="comment.author.avatar">
            </router-link>

            <router-link v-else :to="{ name: 'user-page', params: { id: comment.author.id } }">
                <DefaultAvatar class="image is-48x48" :user="comment.author" />
            </router-link>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>
                        {{ comment.author.firstName }} {{ comment.author.lastName }}
                    </strong>
                    <br>
                    {{ comment.body }}
                    <br>
                    <small class="has-text-grey">
                        {{ comment.created | createdDate }}
                    </small>
                </p>
                <b-tooltip label="Like" animated>
                    <a class="level-item">
                        <span
                            class="icon is-medium has-text-info"
                            @click="onClickLikeComment"
                            
                        >
                            <font-awesome-icon icon="heart" />
                        </span>
                        <span @click="openCommentLikedUsersModal">
                            {{ comment.likesCount }}
                        </span>
                    </a>
                </b-tooltip>
                <figure v-if="comment.imageUrl" class="image is-3by1 tweet-image">
                    <img
                        :src="comment.imageUrl"
                        alt="Tweet image"
                        @click="showImageModal"
                    >
                </figure>
                <div v-if="isCommentOwner(comment.author.id, user.id)" class="column is-narrow is-12-mobile">
                    <div class="buttons">
                        <b-button type="is-warning" @click="onEditComment">Edit</b-button>
                        <b-button type="is-danger" @click="onDeleteComment">Delete</b-button>
                    </div>
                </div>
            </div>
        </div>
        <b-modal :active.sync="isEditCommentModalActive" has-modal-card>
            <EditCommentForm :comment="comment" @updated="updatePage" />
        </b-modal>

        <b-modal :active.sync="isImageModalActive">
            <p class="image is-4by3">
                <img class="" :src="comment.imageUrl">
            </p>
        </b-modal>
    </article> 
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import DefaultAvatar from '../../common/DefaultAvatar.vue';
import EditCommentForm from './EditCommentForm.vue';
import showStatusToast from '../../mixin/showStatusToast';

export default {
    name: 'Comment',

    components: {
        DefaultAvatar,
        EditCommentForm,
    },
    data: () => ({
        isEditCommentModalActive: false,
        isImageModalActive: false
    }),
    mixins: [showStatusToast],
    computed: {
        ...mapGetters('auth', {
            user: 'getAuthenticatedUser'
        }),
        ...mapGetters('comment', [
            'isCommentOwner',
            'commentIsUpdated',
            'commentIsLikedByUser'
        ])
    },

    props: {
        comment: {
            type: Object,
            required: true,
        },
    },

    methods: {
        ...mapActions('comment', [
            'deleteComment',
            'likeOrDislikeComment'
        ]),
        ...mapActions([
            'getUsersByIdsCollection'
        ]),
        onEditComment() {
            this.isEditCommentModalActive = true;
        },
        onDeleteComment() {
            this.$buefy.dialog.confirm({
                title: 'Deleting comment',
                message: 'Are you sure you want to <b>delete</b> your comment? This action cannot be undone.',
                confirmText: 'Delete comment',
                type: 'is-danger',
                onConfirm: async () => {
                    try {
                        const currentTweetId = this.comment.tweetId;
                        await this.deleteComment(this.comment);
                        this.showSuccessMessage('Comment deleted!');
                        this.$router.push({ name: 'tweet-page', params: { id: currentTweetId } }).catch(() => {});
                    } catch {
                        this.showErrorMessage('Unable to delete comment!');
                    }
                }
            });
        },
        updatePage() {
            this.$emit('updateData');
        },
        showImageModal() {
            this.isImageModalActive = true;
        },
        async onClickLikeComment() {
            try {
                await this.likeOrDislikeComment({
                    comment: this.comment,
                    liker: this.user,
                    receiver: this.comment.author
                });
            } catch (error) {
                console.error(error.message);
            }
        },
        async openCommentLikedUsersModal() {
            await this.getUsersByIdsCollection(
                this.comment.likes.map(like => like.userId)
            );
            this.isCommentLikedUsersModal = true;
        }

    },
};
</script>

<style lang="scss" scoped>
nav {
    margin-left: -8px;
}

.content {
    p {
        margin-bottom: 0;
    }
}
</style>
